---
layout: no_sidebar
---

{% assign sorted-posts = site.posts | where: "type", "api" | sort: "title" %}

{% if sorted-posts.size <1 %}

 <table class="apis" align="left">
	<tr>
		<td class="apititle">
			<span class="{{ post.icon }} apiicon"></span>
		</td> 
		<td class="apititle">
			<a class="apititle" href="{{ site.baseurl}}{{ post.url }}.html">Coming Soon</a>
		</td>
	</tr>
	<tr>
		<td colspan=2 class="apidescription">Unity RESTful APIs are in progress</td>
	</tr>
 </table>
{% endif %}

{%for post in sorted-posts %}
 <table class="apis" align="left">
	<tr>
		<td class="apititle">
			<span class="{{ post.icon }} apiicon"></span>
		</td> 
		<td class="apititle">
			<a class="apititle" href="{{ site.baseurl}}{{ post.url }}.html">{{ post.title }}</a>
		</td>
	</tr>
	<tr>
		<td colspan=2 class="apidescription">{{ post.description }}</td>
	</tr>
 </table>

{% endfor %}


</ul>

