<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ site.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ site.baseurl }}/js/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
    <link href="{{ site.baseurl }}/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="{{ site.baseurl }}/css/syntax.css" rel="stylesheet" type="text/css">
	<link href="{{ site.baseurl }}/css/font.css" rel="stylesheet" type="text/css">
    <link href="{{ site.baseurl }}/css/theme.css" rel="stylesheet" type="text/css">

</head>

<body>

<div class="container-fluid">
	<div class="navbar-header">
		
	</div>
    <div class="row-fluid">
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <a class="navbar-brand"/"><img src="/images/karmak.png"></a>
              </div>
        </div>
    </div>
</div>
